<div class="mitad div__logo">
    <div class="logoContainer">
        <h1 class="pageTitle bigger">El Que <span style="color: #55ACEE;">Sabe</span></h1>
        <h3 class="pageTitle" style="text-align: left;">Sabe...</h3>
    </div>
</div>