<header class="main-header">
    <h3 ><a class="pageTitle" href="/">El Que <span style="color: #55ACEE;">Sabe</span></a></h3>
<nav class="main-header__nav">
<ul class="main-header__item-list">
    <li class="main-header__item">
        <a class="a__main-header" href="/">Clientes</a>
    </li>
    <li class="main-header__item">
        <a class="a__main-header" href="/">Freelancers</a>
</ul>
</nav>
<div class="col-md-6">
<form class="d-flex">
    <div class="search-container">
        <input class="form-control me-2 search__bar" type="search" placeholder="Buscar..." aria-label="Buscar">
        <button class="btn" type="submit"><i class="bi bi-search"></i></button>
    </div>
</form>
</div>

<a class="btne" href="/log-in">Log in</a>
<a class="btne_dark" href="/sign-up">Sign up</a>


</header>