.border-none{
    border: none;
}
img{
    border-radius: 0.5em;
}
.card__item{
    width: 18rem;
    margin: 0 0.7em;
    padding: 0.5em;
}

.discoberDontainer{
    width: 100%;
    margin: 2em;
    display: flex;
    flex-direction: row;
}