.border-none{
    border: none;
}

img{
    border-radius: 0.5em;
}
.card__item{
    width: 18rem;
    margin: 0 0.7em;
    padding: 0.5em;
}

.discoberDontainer{
    width: 100%;
    margin: 2em 0;
    padding: 1em;
    display: flex;
    flex-direction: row;
}

.container{
     margin-top: em;
     width: 100%;
     display: flex;
     align-items: center;
}

.grid-container a{
    align-self: center;
    font-size: 1.1em;
}

.circular-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #3D00B7; /* Puedes cambiar el color de fondo según tus preferencias */
    color: #55ACEE;
    font-size: 24px;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  