.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent; /* Cambiar el color de fondo a transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.overlay::before { /* Pseudo-elemento para aplicar la sombra */
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1; /* Colocar detrás del contenido principal */
}

  
  .alert-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  #button {
    background-color: #3D00B7;
    margin-left: 0.5em;
  }

  .botn{
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    justify-content: start;
    float: left;
    margin-top: 1em;
  }
  
  #button_b {
    background-color: #55ACEE;
    margin-left: 1em;
  }
  
  .deal-box{
    background-color: white;
    width: 70%;
    padding: 20px ;
    padding-left: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    overflow: auto;
  }

.left{
    float: left;
}

.expanded{
    height: 7em;
}

.expand{
  height: 5em;
}

.expanded::placeholder {
    position: absolute;
    top: 0;
    left: 10px; /* Ajusta el espacio desde el borde izquierdo */
    padding: 10px; /* Ajusta el padding según sea necesario */
    color: inherit; /* Color del texto del placeholder */
    pointer-events: none; /* Evita la interacción del usuario */
  }

  #pasos{
    color: #3D00B7;
    font-weight: 800;
  }

  .App {
    padding-bottom: 50px;
  }
  
  input[type= radio]{
    display: none;
  }
  
  
  .star{
    cursor: pointer;
  }
  

  
  button:hover {
    background-color: #5f259f;
  }
  
  .Titulo{
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 2rem;
    font-style: normal;
  }

  .App {
    padding-bottom: 50px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
  }
  
  textarea {
    margin-top: 20px;
    width: 40%; /* Reducir el ancho */
    height: 150px; /* Reducir la altura */  
    padding: 5px; /* Reducir el padding */
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
  }
  
  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 1em;
  }
  
  .botn1 {
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 1em;
  }
  
  #button_b {
    background-color: #55ACEE;
  }