.cuadro {
    margin-top: 200px; 
  }
  

  .mb-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%; 
    margin: 0 auto; 
  }
  
  .Info {
    text-align: center;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 2rem;
    font-style: normal;
  }
  .t{
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 1em;
    font-style: normal;
  }

  .s{
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 1em;
    font-style: normal;
  }
  
  .titulo,
  .description {
    text-align: center;
    width: 50%; 
  }
  
  button {
    margin-top: 20px; 
    
  }

  .enviar{
    text-align: center;
    margin-left: 48%;
  }