.cuadro {
    padding: 2em 0; 
  }
  

  .mb-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%; 
    margin: 0 auto; 
  }
  
  .Info {
    text-align: center;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 2rem;
    font-style: normal;
  }
  
  .t{
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 1em;
    font-style: normal;
  }

  .s{
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 1em;
    font-style: normal;
  }
  
  .titulo,
  .description {
    text-align: center;
    width: 50%; 
  }

  button {
    margin-top: 20px; 
    
  }

  .enviar{
    text-align: center;
    margin-left: 30%;
  }

.form-label{
  float: left;
  margin-left: 0.5em;
  font-size: 1.5em;
}

.addContent{
  background-color: #EEE;
  width: 38%;
  padding: 0.5em 0;
  border-radius: 6px;
  margin: auto;
}

.addContent h4{
  color: #646464;
  margin-left: 5%;
}

.addContent i{
  color: #646464;
  font-size: 1.5em;
  margin-left: 50%;
  cursor: pointer;
}

#postImg{
  height: 5em;
  margin-left: 30%;
}

#postImg{
  margin-left: -1em;
  margin-bottom : -1.6em;
  height: 12em;
}