@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    color: #636363;
}


.main-container{
    justify-content: center;
}

.header-container{
    box-shadow: 1px 2px 3px #d0d0d0;
}

.header-container h1{
    font-weight: 400;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 0px;
    color: #363639;
}

.content-container{
    height: fit-content;
    display: flex;
    padding: 0% 4%;
    gap: 20px;
}

.left-container{
    width: 600px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    box-shadow: 2px 2px 2px #d0d0d0;
    position: sticky;
    top: 0;
    padding-bottom: 5%;
}

.profile-image{
    margin-top: 20px;
    width: 350px;
    border-radius: 50%;
}

.photo-container {
    width: 350px;
    position: relative;
    cursor: pointer;
}

.edit-profile-image{
    margin-top: 20px;
    width: 100%;
    border-radius: 50%;
    display: block;
}

.edit-icon{
    width: 100%;
    height: 95%;
    border-radius: 50%;
    margin-top: 20px;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.6s;
}

.edit-icon:hover{
    opacity: 1;
}

.edit-icon i{
    font-size: 200px;
    color: #EFEFEF;
}


.right-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-element{
    display: flex;
    flex-direction: column;
}

.content-element-inline{
    flex-direction: row;
}

.content-element textarea{
    margin: 1px;
}

.inside-color{
    font-weight: 700;
    font-size: medium;
    background-color: #EFEFEF;
    border-radius: 20px;
    border-color: transparent;
    padding: 0.5%;
}

.profession-box{
    width: 280px;
    padding-left: 2%;
    outline: none;
}

.description-box{
    width: 350px;
    height: 290px;
    resize: none;
    padding: 2%;
}

.phone-box{
    width: 285px;
    padding: 0.5%;
    padding-left: 2%;
}

.email-box{
    width: 350px;
    padding: 0.5%;
    padding-left: 2%;
}

.important-info-box{
    width: 350px;
    height: 150px;
    resize: none;
    padding: 2%;
}

.password-box1{
    width: 215px;
}

.password-box2{
    width: 215px;
}

.button-box{
  display: inline-block;
  text-decoration: none;
  font: inherit;
  color: #FFFF;
  background: #3D00B7;
  border-radius: 20px;
  border: transparent;
  cursor: pointer;
  width:fit-content;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  margin-left: 10px;
}

.button-box:hover{
  color: #3D00B7;
  background: #FFFF;
  border: 1.5px solid #3D00B7;
}

.button-box-lg{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font: inherit;
    font-size: 30px;
    color: #FFFF;
    background: #3D00B7;
    border-radius: 20px;
    border: transparent;
    cursor: pointer;
    width:70%;
    padding: 0.5% 3%;
    margin-left: 10px;
}

.button-box-lg:hover{
    background-color: #55ACEE;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
}