legend{
    color: brown;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }

.buttonsContainer{
  width: max-content;
  margin-top: 5px;
  margin-left: 60%;
}

.logoContainer{
    margin-top:  35% ;
    margin-left: 20%;
    width: max-content;
    text-align: center;
    height: auto;
}

  .mitad {
    height: 100%;
    float: left;
  }
  
  .div__form {
    width: 50%;/* Color para el div izquierdo */
  }
  
  .div__logo {
    padding: auto;
    width: 50%;/* Color para el div derecho */
  }
  
  .form__container{
    width: 80%;
    margin: auto;
    margin-top: 5%;
  }

  #log_in{
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 2rem;
    font-style: normal;
  }

  .bigger{
    font-size: 5rem;
  }