<link rel="stylesheet" href="./css/register.css">

</head>
<%- include("../includes/head.ejs") %>

<body>
    <%- include("../includes/MiddlePageLog.ejs") %>    
    <h1>clientes</h1>
</body>

<%- include('../includes/end.ejs') %>
