<link rel="stylesheet" href="./css/register.css">

</head>
<%- include("../includes/head.ejs") %>

<body>
    <h1>hola</h1>
    <%- include("../includes/MiddlePageLog.ejs") %>
    
</body>

<%- include('../includes/end.ejs') %>
